* {
    margin: 0;
    padding: 0;
}

.container, .book {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
}

#libraryDisplay{
    display: flex;
    flex-wrap: wrap;
    height: 8%;
    overflow: scroll;
}

.book {
    width: 10%;
}