* {
    margin: 0;
    padding: 0;
}

.container, .book, .newBookForm {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
}

#libraryDisplay{
    display: flex;
    flex-wrap: wrap;
    height: 13%;
    overflow: scroll;
}

.book {
    width: 10%;
    outline: 2px solid blue;
    overflow: hidden;
    padding: 0.5em;
}